<div class="container mx-auto p-4">
    <div class="card bg-white shadow-md rounded-lg overflow-hidden">
        <app-breadcrumb [items]="items"></app-breadcrumb>
        <h2 class="font-semibold mb-4 text-center">Registro de Servicios</h2>
        <form [formGroup]="productForm" (ngSubmit)="submitForm()">
            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div>
                    <label for="identification_type_id" class="block mb-2">Nombre:<span
                            class="text-red-500">*</span></label>
                    <input class="w-full" pInputText id="name" formControlName="name"
                        placeholder="Nombre del servicio" />
                    <div class="ml-2">
                        <div *ngIf="productForm.get('name')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="identification_type_id" class="block mb-2">Categoria:<span
                            class="text-red-500">*</span></label>
                    <p-dropdown styleClass="w-full" [options]="categories" formControlName="category_id"
                        optionValue="id" optionLabel="name" placeholder="Seleccione una categoría"></p-dropdown>
                    <div class="ml-2">
                        <div *ngIf="productForm.get('category_id')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-tw sm:grid-cols-1 md:grid-cols-1 gap-4 mb-3">
                <div>
                    <label for="identification_type_id" class="block mb-2">descripción del servicio:<span
                            class="text-red-500">*</span></label>
                    <textarea class="w-full" rows="5" cols="30" pInputTextarea formControlName="description">
                        </textarea>
                    <div class="ml-2">
                        <div *ngIf="productForm.get('name')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div>
                    <label class="block mb-2" htmlFor="address">Precio:<span class="text-red-500">*</span></label>
                    <p-inputNumber mode="decimal" inputId="price" formControlName="price"
                        class="p-autocomplete p-fluid w-full" />
                    <div class="ml-2">
                        <div *ngIf="productForm.get('price')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="country" class="block mb-2">País:<span class="text-red-500">*</span></label>
                    <p-dropdown (onChange)="getRegionsByCountry($event)" styleClass="w-full" [options]="countries"
                        optionValue="id" optionLabel="name" formControlName="country" placeholder="País"></p-dropdown>
                    <div class="ml-2">
                        <div *ngIf="productForm.get('country')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div>
                    <label for="region" class="block mb-2">Departamento:<span class="text-red-500">*</span></label>
                    <p-dropdown (onChange)="getMunicipalitiesByRegion($event)" styleClass="w-full" [options]="regions"
                        optionValue="id" optionLabel="name" formControlName="region"
                        placeholder="Departamento"></p-dropdown>
                    <div class="ml-2">
                        <div *ngIf="productForm.get('region')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
                <div class="p-field mb-4">
                    <label for="municipality_id" class="block mb-2">Municipio:<span
                            class="text-red-500">*</span></label>
                    <p-dropdown styleClass="w-full" [options]="municipalities" optionValue="id" optionLabel="name"
                        formControlName="municipality_id" placeholder="Municipio"></p-dropdown>
                    <div class="ml-2">
                        <div *ngIf="productForm.get('municipality_id')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div>
                    <label for="email" class="form-label text-gray-800block mb-4">Foto principal:<span class="text-red-500">*</span></label>
                    <input pInputText type="file" accept=".png,.jpg,.jpeg" formControlName="photo_principal" class=" form-control w-full mt-1" (change)="uploadDocument($event, 'photo_principal')" />
                    <img *ngIf="previewImages['photo_principal']" [src]="previewImages['photo_principal']" alt="Foto principal" class="mt-2 h-50 w-50 object-cover rounded-lg" />
                    <div class="ml-2">
                        <div *ngIf="productForm.get('photo_principal')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div></div>
                <div>
                    <label for="email" class="form-label text-gray-800block mb-4">Foto secundaria número uno:</label>
                    <input pInputText type="file" accept=".png,.jpg,.jpeg" formControlName="photo_one" class=" form-control w-full mt-1" (change)="uploadDocument($event, 'photo_one')" />
                    <img *ngIf="previewImages['photo_one']" [src]="previewImages['photo_one']" alt="Foto secundaria uno" class="mt-2 h-50 w-50 object-cover rounded-lg" />
                </div>
            </div>
            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div>
                    <label for="email" class="form-label text-gray-800block mb-4">Foto secundaria número dos:</label>
                    <input pInputText type="file" accept=".png,.jpg,.jpeg" formControlName="photo_two" class=" form-control w-full mt-1" (change)="uploadDocument($event, 'photo_two')" />
                    <img *ngIf="previewImages['photo_two']" [src]="previewImages['photo_two']" alt="Foto secundaria dos" class="mt-2 h-50 w-50 object-cover rounded-lg" />
                </div>
            </div>
            <div class="p-field mb-4 text-right">
                <p-toast key="tst" [baseZIndex]="99999"></p-toast>
                <p-button icon="pi pi-check" type="submit" label="Crear servicio"></p-button>
            </div>
        </form>
    </div>
</div>