<div class="container mx-auto mt-5">
    <div class="card bg-white shadow-md rounded-lg overflow-hidden">
        <div actions>
            <div class="flex justify-start">
                <h3 class="mr-3">Servicios</h3>
            </div>
            <div class="flex justify-end p-4">
                <button pButton type="button" label="Crear" class="p-button-primary px-6 py-2" routerLink="/pages/products/form"></button>
            </div>
        </div>
        <p-table [value]="services" class="w-full">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let key of settings.order">
                        {{ settings.columns[key].title }}
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </ng-template>
        
            <ng-template pTemplate="body" let-services>
                <tr>
                    <td class="px-4 py-2 border-b">{{ services.name }}</td>
                    <td class="px-4 py-2 border-b">{{ services.description }}</td>
                    <td class="px-4 py-2 border-b">{{ services.category.name }}</td>
                    <td class="px-4 py-2 border-b">{{ services.price }}</td>
                    <td class="px-4 py-2 border-b">{{ services.created_at | date: 'dd/MM/yyyy' }}</td>
                    <td class="px-4 py-2 border-b">
                        <div class="flex space-x-2">
                            <a [href]="">
                                <button pTooltip="Editar" pButton icon="pi pi-pencil" class="p-button-sm p-button-warning"></button>
                            </a>
                            <button pTooltip="Eliminar" pButton icon="pi pi-trash" class="p-button-sm p-button-danger" ></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <nav *ngIf="totalPages > 1" class="my-4">
            <ul class="pagination flex flex-wrap justify-center space-x-2">
        
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link rounded-lg px-4 py-2 border border-gray-300 shadow-md transition duration-300"
                        [attr.aria-label]="'Primera página'" [ngClass]="{
                             'bg-[#673ab7] text-white hover:bg-[#5c2c8e]': currentPage !== 1,
                             'bg-gray-200 text-gray-500 cursor-not-allowed': currentPage === 1
                           }" (click)="currentPage !== 1 && onPageChange(1)">Primera</a>
                </li>
        
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link rounded-lg px-4 py-2 border border-gray-300 shadow-md transition duration-300"
                        [attr.aria-label]="'Página anterior'" [ngClass]="{
                             'bg-[#673ab7] text-white hover:bg-[#5c2c8e]': currentPage > 1,
                             'bg-gray-200 text-gray-500 cursor-not-allowed': currentPage === 1
                           }" (click)="currentPage > 1 && onPageChange(currentPage - 1)">Anterior</a>
                </li>
        
                <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage === page">
                    <a class="page-link rounded-lg px-4 py-2 border border-white-300 shadow-sm transition duration-300"
                        [attr.aria-label]="'Ir a página ' + page" [ngClass]="{
                             'bg-[#673ab7] text-white hover:bg-[#5c2c8e]': currentPage !== page,
                             'bg-[#5c2c8e] text-slate-200': currentPage === page
                           }" (click)="currentPage !== page && onPageChange(page)">{{ page }}</a>
                </li>
        
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <a class="page-link rounded-lg px-4 py-2 border border-gray-300 shadow-md transition duration-300"
                        [attr.aria-label]="'Página siguiente'" [ngClass]="{
                             'bg-[#673ab7] text-white hover:bg-[#5c2c8e]': currentPage < totalPages,
                             'bg-gray-200 text-white-500 cursor-not-allowed': currentPage === totalPages
                           }" (click)="currentPage < totalPages && onPageChange(currentPage + 1)">Siguiente</a>
                </li>
        
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <a class="page-link rounded-lg px-4 py-2 border border-gray-300 shadow-md transition duration-300"
                        [attr.aria-label]="'Última página'" [ngClass]="{
                             'bg-[#673ab7] text-white hover:bg-[#5c2c8e]': currentPage !== totalPages,
                             'bg-gray-200 text-gray-500 cursor-not-allowed': currentPage === totalPages
                           }" (click)="currentPage !== totalPages && onPageChange(totalPages)">Última</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
