<div class="layout-topbar bg-[#4C4863] text-white flex items-center justify-between p-4" style="background-color: #4C4863;">
    <!-- Sección del Logo y Botón de Menú -->
    <div class="flex items-center">
        <a class="layout-topbar-logo flex items-center mr-4" routerLink="">
            <img src="../../assets/layout/images/image.png" alt="Servimark" class="h-12">
        </a>
        <button #menubutton class="p-link layout-menu-button layout-topbar-button mr-8" (click)="layoutService.onMenuToggle()"
            aria-label="Toggle menu">
            <i class="pi pi-bars"></i>
        </button>
    </div>

    <!-- Menú de navegación en el centro -->
    <div class="flex-1 flex justify-center space-x-8">
        <a href="#" class="text-white hover:text-gray-200">Inicio</a>
        <a href="#" class="text-white hover:text-gray-200">Ofertas</a>
        <a href="#" class="text-white hover:text-gray-200 ml-12">Vender</a>
    </div>

    <!-- Barra de búsqueda (Opcional) -->
    <!-- <div class="hidden lg:flex items-center rounded-md bg-white px-2 py-2 text-gray-600 mr-8 flex-1 max-w-lg">
        <select class="bg-transparent border-none outline-none">
            <option>Todas las categorías</option>
        </select>
        <input type="text" placeholder="Buscar..." class="flex-1 bg-transparent outline-none px-4">
        <i class="pi pi-search"></i>
    </div> -->

    <!-- Menú al final con <p-menubar> -->
    <div *ngIf="login" class="flex items-center">
        <p-menubar [model]="tieredItems">
            <ng-template pTemplate="end">
                <span class="p-input-icon-right text-white">
                    Usuario
                </span>
            </ng-template>
        </p-menubar>
    </div>
</div>
