<div class="layout-topbar bg-[#4C4863] text-white flex items-center justify-between p-4" style="background-color: #4C4863;">
    <!-- Sección del Logo y Botón de Menú -->
    <div class="flex items-center">
        <a class="layout-topbar-logo flex items-center mr-4" routerLink="">
            <img src="../../assets/layout/images/image.png" alt="Servimark" class="h-12">
        </a>
        <button #menubutton class="p-link layout-menu-button layout-topbar-button mr-8" (click)="layoutService.onMenuToggle()"
            aria-label="Toggle menu">
            <i class="pi pi-bars"></i>
        </button>
    </div>

    <!-- Menú de navegación en el centro -->
    <div class="flex-1 flex justify-center space-x-8">
        <a href="#" class="text-white hover:text-gray-200">Inicio</a>
        <a href="#" class="text-white hover:text-gray-200">Ofertas</a>
        <a href="#" class="text-white hover:text-gray-200 ml-12">Vender</a>
    </div>
    <!-- Menú al final con <p-menubar> -->
    <div class="flex items-center">
        <p-menubar [model]="tieredItems">
            <ng-template pTemplate="end">
                <span class="p-input-icon-right">
                    <!-- Aquí podrías agregar un ícono o botón adicional si es necesario -->
                </span>
            </ng-template>
        </p-menubar>
    </div>
</div>
