<div class="container mx-auto p-4">
    <div class="card bg-white shadow-md rounded-lg overflow-hidden">
        <h2 class="font-semibold mb-4 text-center">Registro de Usuario</h2>
        <form [formGroup]="userForm" (ngSubmit)="submitForm()">
            <h4><strong>Permisos</strong></h4>
            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div>
                    <label for="document_type_id" class="block mb-2">Roles:<span
                            class="text-red-500">*</span></label>
                        <p-multiSelect
                            [filter]="false"
                            [options]="roles"
                            formControlName="roles" 
                            optionLabel="Roles" 
                            placeholder="Seleccione los roles"
                            optionValue="id" 
                            optionLabel="name"
                            styleClass="w-full"
                            (onChange)="onSelectAllChange($event)"/>
                    <div class="ml-2">
                        <div *ngIf="userForm.get('roles')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <h4><strong>Datos personales</strong></h4>
            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div>
                    <label for="document_type_id" class="block mb-2">Tipo de Documento:<span
                            class="text-red-500">*</span></label>
                    <p-dropdown styleClass="w-full" [options]="documentTypes" formControlName="document_type_id"
                        optionValue="id" optionLabel="name" placeholder="Seleccione un tipo de documento"></p-dropdown>
                    <div class="ml-2">
                        <div *ngIf="userForm.get('document_type_id')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="document" class="block mb-2">Documento:<span class="text-red-500">*</span></label>
                    <input class="w-full" pInputText id="document" formControlName="document"
                        placeholder="Número de Documento" />
                    <div class="ml-2">
                        <div *ngIf="userForm.get('document')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Primer Nombre -->
                <div class="p-field mb-4">
                    <label for="firstname" class="block mb-2">Primer Nombre:<span class="text-red-500">*</span></label>
                    <input pInputText id="firstName" formControlName="firstname" placeholder="Primer Nombre"
                        class="w-full" />
                    <div class="ml-2">
                        <div *ngIf="userForm.get('firstname')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>

                <!-- Segundo Nombre -->
                <div class="p-field mb-4">
                    <label for="middlefirstname" class="block mb-2">Segundo Nombre:</label>
                    <input pInputText id="secondName" formControlName="middlefirstname" placeholder="Segundo Nombre"
                        class="w-full" />
                </div>
            </div>

            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Primer Apellido -->
                <div class="p-field mb-4">
                    <label for="lastname" class="block mb-2">Primer Apellido:<span class="text-red-500">*</span></label>
                    <input pInputText id="lastName" formControlName="lastname" placeholder="Primer Apellido"
                        class="w-full" />
                    <div class="ml-2">
                        <div *ngIf="userForm.get('lastname')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>

                <!-- Segundo Apellido -->
                <div class="p-field mb-4">
                    <label for="middlelastname" class="block mb-2">Segundo Apellido:</label>
                    <input pInputText id="secondLastName" formControlName="middlelastname"
                        placeholder="Segundo Apellido" class="w-full" />
                </div>
            </div>

            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4">
                <!-- País -->
                <div class="p-field mb-4">
                    <label for="country" class="block mb-2">País:<span class="text-red-500">*</span></label>
                    <p-dropdown (onChange)="getRegionsByCountry($event)" styleClass="w-full" [options]="countries"
                        optionValue="id" optionLabel="name" formControlName="country" placeholder="País"></p-dropdown>
                    <div class="ml-2">
                        <div *ngIf="userForm.get('country')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>

                <!-- Departamento -->
                <div class="p-field mb-4">
                    <label for="region" class="block mb-2">Departamento:<span class="text-red-500">*</span></label>
                    <p-dropdown (onChange)="getMunicipalitiesByRegion($event)" styleClass="w-full" [options]="regions"
                        optionValue="id" optionLabel="name" formControlName="region"
                        placeholder="Departamento"></p-dropdown>
                    <div class="ml-2">
                        <div *ngIf="userForm.get('region')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Ciudad -->
                <div class="p-field mb-4">
                    <label for="municipality_id" class="block mb-2">Municipio:<span
                            class="text-red-500">*</span></label>
                    <p-dropdown styleClass="w-full" [options]="municipalities" optionValue="id" optionLabel="name"
                        formControlName="municipality_id" placeholder="Municipio"></p-dropdown>
                    <div class="ml-2">
                        <div *ngIf="userForm.get('municipality_id')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>

                <!-- Género -->
                <div class="p-field mb-4">
                    <label for="gender_id" class="block mb-2">Género:<span class="text-red-500">*</span></label>
                    <p-dropdown [options]="genders" formControlName="gender_id" optionValue="id" optionLabel="name"
                        styleClass="w-full" placeholder="Seleccione un género"></p-dropdown>
                    <div class="ml-2">
                        <div *ngIf="userForm.get('gender_id')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Teléfono -->
                <div class="p-field mb-4">
                    <label for="phone" class="block mb-2">Teléfono:<span class="text-red-500">*</span></label>
                    <input type="number" pInputText id="phone" formControlName="phone" placeholder="Número de Teléfono"
                        class="w-full" />
                    <div class="ml-2">
                        <div *ngIf="userForm.get('phone')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="p-field mb-4">
                    <label for="email" class="block mb-2">Correo Electrónico:<span class="text-red-500">*</span></label>
                    <input pInputText id="email" formControlName="email" placeholder="Correo Electrónico"
                        class="w-full" />
                    <div class="ml-2">
                        <div *ngIf="userForm.get('email')?.errors">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Contraseña -->
                <div class="p-field mb-4">
                    <label for="password" class="block mb-2">Contraseña:<span class="text-red-500">*</span></label>
                    <p-password class="w-full" id="password" formControlName="password" placeholder="Contraseña"
                        weakLabel="Débil" mediumLabel="Mediano" strongLabel="Fuerte"
                        promptLabel="Ingrese su contraseña">
                        <ng-template pTemplate="footer">
                            <hr>
                            <p class="mt-2">Sugerencias</p>
                            <ul class="pl-2 ml-2 mt-0 text-red-500" style="line-height: 1.5">
                                <li *ngIf="userForm.get('password')?.errors?.['uppercase']">
                                    - {{userForm.get('password')?.errors?.['uppercase']}}
                                </li>
                                <li *ngIf="userForm.get('password')?.errors?.['lowercase']">
                                    - {{userForm.get('password')?.errors?.['lowercase']}}
                                </li>
                                <li *ngIf="userForm.get('password')?.errors?.['number']">
                                    - {{userForm.get('password')?.errors?.['number']}}
                                </li>
                                <li *ngIf="userForm.get('password')?.errors?.['specialCharacter']">
                                    - {{userForm.get('password')?.errors?.['specialCharacter']}}
                                </li>
                                <li *ngIf="userForm.get('password')?.errors?.['minLength']">
                                    - {{userForm.get('password')?.errors?.['minLength']}}
                                </li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <div class="ml-2">
                        <div *ngIf="userForm.get('password')?.errors?.['required']">
                            <small class="text-red-500">
                                El campo es requerido
                            </small>
                        </div>
                    </div>
                </div>

                <!-- Contraseña -->
                <div class="p-field mb-4">
                    <label for="passwordConfirmed" class="block mb-2">Confirmar contraseña:<span
                            class="text-red-500">*</span></label>
                    <p-password class="w-full" id="passwordConfirmed" formControlName="passwordConfirmed"
                        placeholder="Confirmar Contraseña" [feedback]="false" />
                    <div class="p-2">
                        <div *ngIf="userForm.errors?.['passwordMismatch']">
                            <small class="text-red-500">
                                {{ userForm.errors?.['passwordMismatch'] }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="userForm.get('roles')?.value.includes(2)">
                <hr>
                <h4><strong>Datos de contrato</strong></h4>
                <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4">
                    <!-- Proyecto -->
                    <div class="p-field mb-4">
                        <label for="project_id" class="block mb-2">Proyecto:<span class="text-red-500">*</span></label>
                        <p-dropdown [options]="projects" formControlName="project_id" optionValue="id" optionLabel="name"
                            styleClass="w-full" placeholder="Seleccione un proyecto"></p-dropdown>
                        <div class="ml-2">
                            <div *ngIf="userForm.get('project_id')?.errors">
                                <small class="text-red-500">
                                    El campo es requerido
                                </small>
                            </div>
                        </div>
                    </div>
    
                    <!-- Cargo -->
                    <div class="p-field mb-4">
                        <label for="position_id" class="block mb-2">Cargo:<span class="text-red-500">*</span></label>
                        <p-dropdown [options]="positions" formControlName="position_id" optionValue="id" optionLabel="name"
                            styleClass="w-full" placeholder="Seleccione un cargo"></p-dropdown>
                        <div class="ml-2">
                            <div *ngIf="userForm.get('position_id')?.errors">
                                <small class="text-red-500">
                                    El campo es requerido
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="grid-tw sm:grid-cols-1 md:grid-cols-2 gap-4">
                    <!-- Tipo de contrato -->
                    <div class="p-field mb-4">
                        <label for="contract_type_id" class="block mb-2">Tipo de contrato:<span
                                class="text-red-500">*</span></label>
                        <p-dropdown [options]="contractTypes" formControlName="contract_type_id" optionValue="id"
                            optionLabel="name" styleClass="w-full" placeholder="Seleccione un proyecto"></p-dropdown>
                        <div class="ml-2">
                            <div *ngIf="userForm.get('contract_type_id')?.errors">
                                <small class="text-red-500">
                                    El campo es requerido
                                </small>
                            </div>
                        </div>
                    </div>
    
                    <!-- Número de contrato -->
                    <div class="p-field mb-4">
                        <label for="contract_no" class="block mb-2">Número de contrato:<span
                                class="text-red-500">*</span></label>
                        <p-inputNumber formControlName="contract_no" inputId="withoutgrouping" [useGrouping]="false"
                            class="w-full p-fluid" placeholder="Número de contrato" />
                        <div class="ml-2">
                            <div *ngIf="userForm.get('contract_no')?.errors">
                                <small class="text-red-500">
                                    El campo es requerido
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="grid-tw sm:grid-cols-2 md:grid-cols-4 gap-4">
                    <!-- Salario -->
                    <div class="p-field mb-4 sm:col-span-2 md:col-span-2">
                        <label for="salary" class="block mb-2">Salario:<span class="text-red-500">*</span></label>
                        <p-inputNumber formControlName="salary" inputId="integeronly" class="w-full p-fluid"
                            placeholder="Salario" />
                        <div class="ml-2">
                            <div *ngIf="userForm.get('salary')?.errors">
                                <small class="text-red-500">
                                    El campo es requerido
                                </small>
                            </div>
                        </div>
                    </div>
    
                    <!-- Fecha de inicio -->
                    <div class="p-field mb-4">
                        <label for="start_date" class="block mb-2">Fecha inicio de contrato:<span
                                class="text-red-500">*</span></label>
                        <p-calendar formControlName="start_date" styleClass="w-full"
                            placeholder="Seleccione una fecha"></p-calendar>
                        <div class="ml-2">
                            <div *ngIf="userForm.get('start_date')?.errors">
                                <small class="text-red-500">
                                    El campo es requerido
                                </small>
                            </div>
                        </div>
                    </div>
    
                    <!-- Fecha de fin -->
                    <div class="p-field mb-4">
                        <label for="date_finish" class="block mb-2">Fecha fin de contrato:</label>
                        <p-calendar formControlName="date_finish" styleClass="w-full"
                            placeholder="Seleccione una fecha"></p-calendar>
                    </div>
                </div>
            </div>

            <!-- Botón de Enviar -->
            <div class="p-field mb-4 text-center">
                <p-toast key="tst" [baseZIndex]="99999"></p-toast>
                <p-button icon="pi pi-check" type="submit" label="Registrar"></p-button>
            </div>
        </form>
    </div>
</div>