<div class="flex min-h-screen items-center justify-center bg-gray-50">
    <div class="flex flex-col lg:flex-row bg-white rounded-lg shadow-lg overflow-hidden max-w-5xl w-full">
      
      <!-- Columna Izquierda (Formulario de Login) -->
      <div class="lg:w-1/2 px-12 py-10">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">Bienvenido a ServiMark 👋</h2>
        <p class="text-gray-600 mb-6">Facilitamos tu día a día</p>
        
        <form [formGroup]="form">
          <!-- Correo Electrónico -->
          <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correo electrónico</label>
            <input id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="email" type="email" placeholder="Ejemplo@ejemplo.com">
          </div>
  
          <!-- Contraseña -->
          <div class="mb-6">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
            <input id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="password" type="password" placeholder="Al menos 8 caracteres">
          </div>
  
          <div class="flex items-center justify-between mb-6">
            <a href="#" class="inline-block align-baseline font-bold text-sm" style="opacity: 1; color: #0D47A1; background-color: rgb(255, 255, 255);">Olvidaste la contraseña?</a>
          </div>
  
          <!-- Botón de Iniciar sesión -->
          <p-toast key="tst" [baseZIndex]="99999"></p-toast>
        <button (click)="login()" pButton pRipple label="Iniciar sesión"
            class="w-full p-3 bg-blue-800 text-white rounded hover:bg-blue-900 text-xl" type="submit">
        </button>
  
          <!-- Botón Google -->
          <button (click)="loginGoogle()" class="w-full flex items-center justify-center mt-4 bg-white border rounded shadow-sm hover:bg-gray-100 py-2">
            <img src="https://img.icons8.com/color/24/000000/google-logo.png" alt="Auth Google" class="mr-2">
            Inicia con Google
          </button>
  
          <!-- Botón Facebook -->
          <button class="w-full flex items-center justify-center mt-4 bg-white border rounded shadow-sm hover:bg-gray-100 py-2">
            <img src="https://img.icons8.com/color/24/000000/facebook-new.png" alt="Auth Facebook" class="mr-2">
            Inicia con Facebook
          </button>
  
          <div class="mt-6 flex justify-center">
            
            <a>¿No tienes una cuenta?: <button (click)="showDialog()" class="text-blue-500"><strong style="opacity: 1; color: #0D47A1; background-color: rgb(255, 255, 255);">Regístrate</strong></button></a>
          </div>
        </form>
      </div>
  
      <!-- Columna Derecha (Imagen) -->
      <div class="hidden lg:block lg:w-1/2 bg-gray-100">
        <img src="../../../../../assets/layout/images/login.png" alt="Construction Workers" class="object-cover w-full h-full">
      </div>
    </div>
  </div>

  <p-dialog
    header="Registrarse" 
    [(visible)]="visible" 
    [modal]="true" 
    [style]="{ width: '70rem' }">
        <app-form-register></app-form-register> 
  </p-dialog>
  
