<div class="container mx-auto mt-5">
    <div class="card bg-white shadow-md rounded-lg overflow-hidden">
        <app-base-table [settings]="settings" [data]="users">
            <div actions>
                <div class="flex justify-start">
                    <h3 class="mr-3">Usuarios</h3>
                </div>
                <div class="flex justify-end p-4">
                    <button ngxCheckPerms="create" pButton type="button" label="Crear" class="p-button-primary px-6 py-2" routerLink="/pages/users/form-user"></button>
                </div>
            </div>
        </app-base-table>
    </div>
</div>
